<br/>
<br/>
<p>Atharva Phadtare studies in The Bishop's School, Camp, Pune. He choose to study 'Lithium Ion Batteries' as his summer School Project at Scigram Technologies Foundation. The project covered the trends of Lithium battery prices and Li and Fe yield which was plotted using Mathematica and R programming languages. I also dabbled my hands on QGIS software to study the locations of the ores and other QGIS plugins.</p>