<br\>

<h3>Nuclear Power in India</h3>

<br\>
<p>Nuclear power is the fifth main source of electricity in India. The most important raw-material for nuclear reactions found in India is thorium. The nuclear reactors in India produce about an average of 43TWh (Terawatt per hour) which constitutes to about 3.11% of total power generation in India. However, the power consumption of India is about 1282TWh. India produces a total of 2.56% of electricity in the world from nuclear power.