
<br/>
<p>India had a up a well drawn plan for nuclear power plants but the Fukushima nuclear disaster created many anti-nuclear protests in India. There were a number of protests against Jaitapur Nuclear Power Project in Maharashtra and Kudankulam Nuclear Power Plant which was in collaboration with the Russian Federation of Nuclear Power called 'Atomstroyexport'.

<br/>
<p>India is making advances in fields of thorium which may make it a little bit self-independent on the basis of nuclear reactions.

<ol>There are 22 operational nuclear reactors in India

<li>Kaiga-1</li>

<li>Kaiga-2</li>

<li>Kaiga-3</li>

<li>Kaiga-4</li>

<li>Kakrapar-1</li>

<li>Kakrapar-2</li>

<li>Kudankulam-1</li>

<li>Kudankulam-2</li>

<li>Madras-1</li>

<li>Madras-2</li>

<li>Narora-1</li>

<li>Narora-2</li>

<li>Rajasthan-1</li>

<li>Rajasthan-2</li>

<li>Rajasthan-3</li>

<li>Rajasthan-4</li>

<li>Rajasthan-5</li>

<li>Rajasthan-6</li>

<li>Tarapur-1</li>

<li>Tarapur-2</li>

<li>Tarapur-3</li>

<li>Tarapur-4</li>
<ol/>

<br/>
<p>All the Nuclear Power Stations are given on the map of India below