<br/>
<br/>
<p>Aditya Phadtare studies in The Bishop's School, Camp, Pune. His hobbies include football and chess. In this project, he has worked on Nuclear Power plants in India. Here, he have plotted the data of production by countries over the years and location of the plants. During the project, he worked on this data in Mathematica and R programming language. He also explored geocomputing in QGIS.</p>